@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ad9aff;
  --text-color: #444;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ececec;
  color: var(--text-color);
  line-height: 1.6;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.img,
.form {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1rem;
}

.img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.form {
  padding: 2rem;
}

.form h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.form input,
.form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus,
select:focus {
  outline: none;
}

select,
option,
input {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-weight: 500;
}

.switch-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.switch-field input {
  visibility: hidden;
}

.switch-field label {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
}

.switch-field input:checked + label {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-0.1rem);
  background-color: #8a70fa;
}

.result {
  margin-bottom: -0.5rem;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .img,
  .form {
    flex: none;
    margin: 1rem 0;
  }
}